/* Style dasar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    text-align: center;
    padding: 2vw;
    background-color: #77965f;
    color: white;
    font-size: 1.5vh; /* Adjust the font size for the general header text */
}

header h1 {
    margin-bottom: 10px;
    font-size: 5vh; /* Adjust the font size for the header title */
}

header .logo {
    width: 12vw; /* Adjust logo width */
    height: auto; /* Keep aspect ratio */
    margin-bottom: 5px; /* Space between logo and header title */
	filter: brightness(0) invert(1); /* Makes dark colors light (white) */
}

/* Slideshow Container */
.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
	height: 100vh; /* Full screen height */
    width: 100vw;  /* Full screen width */
}
.slideshow img {
    width: 40vw; /* Full screen width */
    max-width: none; /* Remove max-width limit */
    transition: transform 0.5s ease;
    border-radius: 5vh;
}

/* Gerakan saat mouse bergerak */
.slideshow-container:hover img {
    transform: scale(1.1);
}

/* Grid Layout */
.product-grid {
    padding: 10vh;
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 kolom */
    grid-auto-rows: 20vh; /* Tinggi baris otomatis */
    gap: 1vw;
}
.grid-item img {
	
    width: 20vh;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}
.grid-item img:hover {
    transform: scale(1.05); /* Zoom in efek */
}
